{
  "openapi": "3.1.0",
  "info": {
    "title": "MARKO External Partner API",
    "version": "v1",
    "description": "Stable external API contract for the live environment.\n\nAuthentication flow for partner integrations:\n1. Generate an API key from the MARKO entity admin API section.\n2. Keep the raw API secret server-side and use it only to sign `POST /v1/auth/token`.\n3. Build the canonical message `MARKO-EXTERNAL-API-TOKEN-V1\\n{key_id}\\n{timestamp}\\n{nonce}`.\n4. Sign that message with HMAC-SHA256 and send the hex signature with `key_id`, `timestamp` and `nonce`.\n5. Use the returned short-lived bearer on business endpoints as `Authorization: Bearer <access_token>`.\nThe raw API secret must never be sent on business endpoints.\n\nThis public contract intentionally excludes beta endpoints.\n\nRéférence enrichie pour les développeurs et les assistants IA. Exemples synthétiques; les champs sont extraits des modèles et sérialiseurs de la version indiquée dans x-documentation-provenance."
  },
  "servers": [
    {
      "url": "https://partner-api.marko.fr/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "externalDocs": {
    "description": "Download the matching Postman collection.",
    "url": "/v1/postman.json"
  },
  "x-marko-authentication": {
    "token_endpoint": "/v1/auth/token",
    "signature_algorithm": "HMAC-SHA256",
    "canonical_message": "MARKO-EXTERNAL-API-TOKEN-V1\\n{key_id}\\n{timestamp}\\n{nonce}",
    "business_authorization_header": "Authorization: Bearer <access_token>",
    "raw_secret_usage": "server-side-token-exchange-only"
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "MARKO short-lived bearer",
        "description": "Use the `access_token` returned by `POST /v1/auth/token`. Do not send the raw API secret on business endpoints."
      }
    },
    "schemas": {
      "AIExtractionJobResponse": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "Identifiant MARKO de la ressource."
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus",
            "description": "État du job de traitement. Sa fin ne prouve pas que toutes les suggestions ont été appliquées; lire les compteurs et le résultat."
          },
          "document_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Document Id",
            "description": "UUID MARKO du document."
          },
          "operation_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Id",
            "description": "UUID MARKO de l'opération."
          },
          "provider": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Provider",
            "description": "Fournisseur utilisé par le job d'extraction IA."
          },
          "narrative": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Narrative",
            "description": "Résumé textuel produit par l'extraction IA."
          },
          "suggestions_created": {
            "type": "integer",
            "title": "Suggestions Created",
            "default": 0,
            "description": "Nombre de suggestions créées par l'extraction; leur création ne prouve pas leur validation ou leur application."
          },
          "auto_applied": {
            "type": "integer",
            "title": "Auto Applied",
            "default": 0,
            "description": "Nombre de suggestions appliquées automatiquement par le job; distinct du nombre de suggestions créées."
          },
          "operation_resolution": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object",
                "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Resolution",
            "description": "Résultat du rattachement du job d'extraction à une opération."
          },
          "error_message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error Message",
            "description": "Détail de l'échec, lorsqu'il est disponible."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Date de création au format ISO 8601."
          },
          "started_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Started At",
            "description": "Date de début du traitement."
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completed At",
            "description": "Date de fin, lorsqu'une exécution ou un traitement est terminé."
          },
          "raw_result": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object",
                "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
              },
              {
                "type": "null"
              }
            ],
            "title": "Raw Result",
            "description": "Résultat brut public du job IA. Sa structure dépend du traitement et ne garantit pas une application des suggestions."
          }
        },
        "type": "object",
        "required": [
          "id",
          "status",
          "created_at"
        ],
        "title": "AIExtractionJobResponse",
        "description": "ProcessingJob payload tailored for the AI Wizard UI."
      },
      "AiExtractionJobCreateRequest": {
        "properties": {
          "document_id": {
            "type": "string",
            "format": "uuid",
            "title": "Document Id",
            "description": "UUID MARKO du document."
          },
          "operation_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Id",
            "description": "UUID MARKO de l'opération."
          }
        },
        "type": "object",
        "required": [
          "document_id"
        ],
        "title": "AiExtractionJobCreateRequest"
      },
      "AlertResponse": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "Identifiant MARKO de la ressource."
          },
          "user_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "User Id",
            "description": "Identifiant utilisateur MARKO; il n'est pas nécessairement un UUID."
          },
          "type": {
            "type": "string",
            "title": "Type",
            "description": "Type de l'alerte ou de la notification."
          },
          "severity": {
            "type": "string",
            "title": "Severity",
            "description": "Niveau de gravité de l'événement, distinct de son statut de traitement."
          },
          "title": {
            "type": "string",
            "title": "Title",
            "description": "Titre affiché pour l'événement ou le problème."
          },
          "message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Message",
            "description": "Message destiné à l'affichage ou au diagnostic."
          },
          "target_url": {
            "type": "string",
            "title": "Target Url",
            "description": "Lien vers la ressource concernée dans l'interface MARKO."
          },
          "target_tab": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Target Tab",
            "description": "Onglet à ouvrir sur la cible dans MARKO."
          },
          "target_filter": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Target Filter",
            "description": "Filtre à appliquer lors de l'ouverture de la cible dans MARKO."
          },
          "highlight_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Highlight Id",
            "description": "Identifiant de l'élément à mettre en évidence dans l'interface."
          },
          "read": {
            "type": "boolean",
            "title": "Read",
            "description": "Indique si la notification ou l'alerte a été lue."
          },
          "alert_status": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Alert Status",
            "description": "État de traitement de l'alerte, distinct de son niveau de gravité."
          },
          "snoozed_until": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Snoozed Until",
            "description": "Date jusqu'à laquelle l'alerte ou la recommandation est reportée."
          },
          "escalation_level": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Escalation Level",
            "description": "Niveau d'escalade de l'alerte ou de la notification."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Date de création au format ISO 8601."
          },
          "operation_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Id",
            "description": "UUID MARKO de l'opération."
          },
          "operateur_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operateur Id",
            "description": "UUID MARKO de l'opérateur."
          },
          "is_active": {
            "type": "boolean",
            "title": "Is Active",
            "default": false,
            "description": "Indique si l'élément est actif."
          }
        },
        "type": "object",
        "required": [
          "id",
          "type",
          "severity",
          "title",
          "target_url",
          "read",
          "created_at"
        ],
        "title": "AlertResponse"
      },
      "AlertSnoozeRequest": {
        "properties": {
          "days": {
            "type": "integer",
            "maximum": 30.0,
            "minimum": 1.0,
            "title": "Days",
            "description": "Nombre de jours de snooze (1-30)",
            "default": 7
          }
        },
        "type": "object",
        "title": "AlertSnoozeRequest"
      },
      "AlertSourceType": {
        "type": "string",
        "enum": [
          "interne",
          "externe"
        ],
        "title": "AlertSourceType",
        "description": "Type de source d'alerte."
      },
      "Body_upload_document_public_documents_external__external_id__upload_put": {
        "properties": {
          "file": {
            "type": "string",
            "contentMediaType": "application/octet-stream",
            "title": "File",
            "format": "binary",
            "description": "Fichier binaire envoyé dans multipart/form-data; ne pas encoder en Base64."
          },
          "type": {
            "type": "string",
            "title": "Type",
            "description": "Catégorie métier du document, distincte de son type MIME; par exemple autre pour un document non spécialisé."
          },
          "operation_external_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation External Id",
            "description": "Identifiant externe de l'opération, appartenant à la même intégration."
          },
          "operation_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Id",
            "description": "UUID MARKO de l'opération."
          },
          "partner_metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Partner Metadata",
            "description": "Chaîne contenant un objet JSON valide. Au niveau multipart, ce champ est du texte; il est ensuite décodé en objet."
          }
        },
        "type": "object",
        "required": [
          "file",
          "type"
        ],
        "title": "Body_upload_document_public_documents_external__external_id__upload_put",
        "anyOf": [
          {
            "required": [
              "operation_id"
            ],
            "properties": {
              "operation_id": {
                "type": "string",
                "format": "uuid",
                "description": "UUID MARKO de l'opération."
              }
            }
          },
          {
            "required": [
              "operation_external_id"
            ],
            "properties": {
              "operation_external_id": {
                "type": "string",
                "minLength": 1,
                "description": "Identifiant externe de l'opération, appartenant à la même intégration."
              }
            }
          }
        ],
        "description": "Une opération est requise: fournir operation_id ou operation_external_id. Lorsque les deux sont fournis, operation_id est utilisé. Pour un upload de fichier, appeler directement /upload avec un nouvel external_id; une déclaration metadata préalable peut être renvoyée sans ajout de fichier."
      },
      "CalendarEventCreate": {
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 300,
            "title": "Title",
            "description": "Titre de l'evenement"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Description detaillee"
          },
          "event_date": {
            "type": "string",
            "format": "date",
            "title": "Event Date",
            "description": "Date de l'evenement"
          },
          "event_type": {
            "type": "string",
            "maxLength": 50,
            "title": "Event Type",
            "description": "Type: covenant_deadline, reporting_due, ag_date, echeance, custom, etc."
          },
          "operation_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Id",
            "description": "Lie a une operation (optionnel)"
          },
          "operateur_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operateur Id",
            "description": "Lie a un operateur (optionnel)"
          },
          "fond_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fond Id",
            "description": "Lie a un fonds (optionnel)"
          },
          "spv_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Spv Id",
            "description": "Lie a un SPV (optionnel)"
          },
          "client_request_id": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^[A-Za-z0-9._-]{1,80}$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Client Request Id",
            "description": "Optional durable request id scoped to (entity, author): retrying the same create replays the already-created event instead of duplicating it."
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "title",
          "event_date",
          "event_type"
        ],
        "title": "CalendarEventCreate",
        "description": "Schema for a human-created event; AI provenance is server-owned."
      },
      "CalendarEventListResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/CalendarEventResponse"
            },
            "type": "array",
            "title": "Items",
            "description": "Résultats de la page courante."
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Nombre total de résultats correspondant aux filtres."
          }
        },
        "type": "object",
        "required": [
          "items",
          "total"
        ],
        "title": "CalendarEventListResponse",
        "description": "Paginated list of calendar events."
      },
      "CalendarEventResponse": {
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 300,
            "title": "Title",
            "description": "Titre de l'evenement"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Description detaillee"
          },
          "event_date": {
            "type": "string",
            "format": "date",
            "title": "Event Date",
            "description": "Date de l'evenement"
          },
          "event_type": {
            "type": "string",
            "maxLength": 50,
            "title": "Event Type",
            "description": "Type: covenant_deadline, reporting_due, ag_date, echeance, custom, etc."
          },
          "operation_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Id",
            "description": "Lie a une operation (optionnel)"
          },
          "operateur_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operateur Id",
            "description": "Lie a un operateur (optionnel)"
          },
          "fond_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fond Id",
            "description": "Lie a un fonds (optionnel)"
          },
          "spv_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Spv Id",
            "description": "Lie a un SPV (optionnel)"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "Identifiant MARKO de la ressource."
          },
          "entity_id": {
            "type": "string",
            "format": "uuid",
            "title": "Entity Id",
            "description": "Identifiant de l'entité MARKO à laquelle cette ressource appartient."
          },
          "source": {
            "type": "string",
            "title": "Source",
            "description": "Origine de l'événement de calendrier."
          },
          "source_alert_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source Alert Id",
            "description": "Identifiant de l'alerte à l'origine de l'événement de calendrier."
          },
          "confidence": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Confidence",
            "description": "Indice de confiance associé au résultat; il ne remplace pas une validation humaine."
          },
          "accepted": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Accepted",
            "description": "Indique si la proposition d'événement a été acceptée."
          },
          "idempotency_receipt": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ManualCreationIdempotencyReceipt"
              },
              {
                "type": "null"
              }
            ],
            "description": "Reçu de création manuelle indiquant notamment si une création précédente a été rejouée."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Date de création au format ISO 8601."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At",
            "description": "Date de dernière modification au format ISO 8601."
          }
        },
        "type": "object",
        "required": [
          "title",
          "event_date",
          "event_type",
          "id",
          "entity_id",
          "source",
          "created_at",
          "updated_at"
        ],
        "title": "CalendarEventResponse",
        "description": "Schema for calendar event API response."
      },
      "CalendarEventUpdate": {
        "properties": {
          "title": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 300
              },
              {
                "type": "null"
              }
            ],
            "title": "Title",
            "description": "Titre affiché pour l'événement ou le problème."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Description libre de la ressource."
          },
          "event_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Event Date",
            "description": "Date et heure de l'événement de calendrier."
          },
          "event_type": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 50
              },
              {
                "type": "null"
              }
            ],
            "title": "Event Type",
            "description": "Type de l'événement."
          },
          "operation_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Id",
            "description": "UUID MARKO de l'opération."
          },
          "operateur_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operateur Id",
            "description": "UUID MARKO de l'opérateur."
          },
          "fond_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fond Id",
            "description": "UUID MARKO du fonds."
          },
          "spv_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Spv Id",
            "description": "UUID MARKO de la SPV."
          },
          "accepted": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Accepted",
            "description": "Indique si la proposition d'événement a été acceptée."
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "CalendarEventUpdate",
        "description": "Schema for updating a calendar event (all fields optional)."
      },
      "ChronicleEntry": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Prefixed ID: 'st-{uuid}', 'el-{uuid}', 'al-{id}'"
          },
          "entry_type": {
            "$ref": "#/components/schemas/ChronicleEntryType",
            "description": "Catégorie de l'événement dans l'historique technique."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "title": "Timestamp",
            "description": "Heure Unix en secondes de l'échange signé."
          },
          "title": {
            "type": "string",
            "title": "Title",
            "description": "Human-readable summary"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Description libre de la ressource."
          },
          "field_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Field Name",
            "description": "Nom du champ modifié dans l'événement d'historique."
          },
          "old_value": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Old Value",
            "description": "Valeur du champ avant la modification enregistrée."
          },
          "new_value": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "New Value",
            "description": "Valeur du champ après la modification enregistrée."
          },
          "actor_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Actor Id",
            "description": "Identifiant de l'auteur de l'événement."
          },
          "actor_email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Actor Email",
            "description": "Adresse e-mail de l'auteur de l'événement, si elle est disponible."
          },
          "actor_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Actor Type",
            "description": "Nature de l'auteur: utilisateur, système ou intégration selon l'événement."
          },
          "source_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source Type",
            "description": "Type de source de l'événement ou de la propriété métier."
          },
          "confidence": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Confidence",
            "description": "Indice de confiance associé au résultat; il ne remplace pas une validation humaine."
          },
          "metadata": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object",
                "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
              },
              {
                "type": "null"
              }
            ],
            "title": "Metadata",
            "description": "Informations complémentaires de l'événement; leurs clés dépendent de son type."
          }
        },
        "type": "object",
        "required": [
          "id",
          "entry_type",
          "timestamp",
          "title"
        ],
        "title": "ChronicleEntry",
        "description": "Single entry in the operation chronicle timeline."
      },
      "ChronicleEntryType": {
        "type": "string",
        "enum": [
          "state_transition",
          "field_change",
          "audit_change"
        ],
        "title": "ChronicleEntryType",
        "description": "Type of chronicle entry."
      },
      "ChronicleResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/ChronicleEntry"
            },
            "type": "array",
            "title": "Items",
            "description": "Résultats de la page courante."
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Nombre total de résultats correspondant aux filtres."
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Numéro de la page courante, à partir de 1.",
            "default": 1
          },
          "pages": {
            "type": "integer",
            "title": "Pages",
            "description": "Nombre total de pages pour cette taille de page.",
            "default": 0
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "Items per page",
            "default": 50
          }
        },
        "type": "object",
        "required": [
          "items",
          "total"
        ],
        "title": "ChronicleResponse",
        "description": "Paginated chronicle response."
      },
      "CommentCreate": {
        "properties": {
          "content": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 10000,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Content",
            "description": "Contenu du commentaire ou de la note."
          },
          "note_type": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^(reporting|call|comite|risque|libre)$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Note Type",
            "description": "Type de note ou de commentaire."
          },
          "date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date",
            "description": "Date métier; le type et le format ci-dessous font autorité pour cette route."
          },
          "text": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 10000,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Text",
            "description": "Texte de la note ou du commentaire."
          },
          "category": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 80,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Category",
            "description": "Catégorie de la note; les règles exactes dépendent de la route. Pour l'import externe: chaîne de 1 à 80 caractères, libre par défaut."
          }
        },
        "type": "object",
        "title": "CommentCreate",
        "description": "Payload pour créer une note de suivi."
      },
      "CommentResponse": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "Identifiant MARKO de la ressource."
          },
          "operation_id": {
            "type": "string",
            "format": "uuid",
            "title": "Operation Id",
            "description": "UUID MARKO de l'opération."
          },
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "Identifiant utilisateur MARKO; il n'est pas nécessairement un UUID."
          },
          "author_name": {
            "type": "string",
            "title": "Author Name",
            "description": "Nom de l'auteur de la note ou du commentaire."
          },
          "content": {
            "type": "string",
            "title": "Content",
            "description": "Contenu du commentaire ou de la note."
          },
          "note_type": {
            "type": "string",
            "title": "Note Type",
            "description": "Type de note ou de commentaire."
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "title": "Date",
            "description": "Date métier; le type et le format ci-dessous font autorité pour cette route."
          },
          "text": {
            "type": "string",
            "title": "Text",
            "description": "Texte de la note ou du commentaire."
          },
          "category": {
            "type": "string",
            "title": "Category",
            "description": "Catégorie de la note; les règles exactes dépendent de la route. Pour l'import externe: chaîne de 1 à 80 caractères, libre par défaut."
          },
          "description_i18n": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "title": "Description I18N",
            "description": "Textes par locale normalisée (fr, en, fr-fr…); contraintes complémentaires dans le guide Imports et notes."
          },
          "source_created_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source Created At",
            "description": "Date de création dans le système source, avec fuseau horaire."
          },
          "source_updated_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source Updated At",
            "description": "Date de dernière mise à jour dans le système source, avec fuseau horaire. Pour une note déjà versionnée, un changement exige une date strictement plus récente."
          },
          "is_resolved": {
            "type": "boolean",
            "title": "Is Resolved",
            "default": false,
            "description": "Indique si le commentaire ou l'événement de risque est résolu."
          },
          "resolved_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Resolved By",
            "description": "Identifiant de l'utilisateur qui a résolu le commentaire."
          },
          "resolved_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Resolved At",
            "description": "Date de résolution de l'événement, du commentaire ou du conflit."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Date de création au format ISO 8601."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At",
            "description": "Date de dernière modification au format ISO 8601."
          }
        },
        "type": "object",
        "required": [
          "id",
          "operation_id",
          "user_id",
          "author_name",
          "content",
          "note_type",
          "date",
          "text",
          "category",
          "created_at",
          "updated_at"
        ],
        "title": "CommentResponse",
        "description": "Réponse API pour une note de suivi."
      },
      "CommentUpdate": {
        "properties": {
          "content": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 10000,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Content",
            "description": "Contenu du commentaire ou de la note."
          },
          "date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date",
            "description": "Date métier; le type et le format ci-dessous font autorité pour cette route."
          },
          "text": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 10000,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Text",
            "description": "Texte de la note ou du commentaire."
          },
          "category": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 80,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Category",
            "description": "Catégorie de la note; les règles exactes dépendent de la route. Pour l'import externe: chaîne de 1 à 80 caractères, libre par défaut."
          }
        },
        "type": "object",
        "title": "CommentUpdate",
        "description": "Payload pour mettre à jour une note de suivi."
      },
      "ContentSearchResponse": {
        "properties": {
          "request_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Request Id",
            "description": "Identifiant de corrélation pour le diagnostic de la requête."
          },
          "query": {
            "type": "string",
            "title": "Query",
            "description": "Texte de recherche reçu par le service."
          },
          "results": {
            "items": {
              "$ref": "#/components/schemas/ContentSearchResult"
            },
            "type": "array",
            "title": "Results",
            "description": "Résultats de recherche accessibles dans ce périmètre."
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Nombre total de résultats correspondant aux filtres."
          },
          "mode": {
            "type": "string",
            "title": "Mode",
            "default": "search",
            "description": "Mode de traitement accepté par cette route."
          },
          "decision": {
            "type": "string",
            "title": "Decision",
            "default": "allow",
            "description": "Décision d'accès appliquée à la recherche documentaire."
          },
          "role_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Role Id",
            "description": "Identifiant du rôle appliqué à la recherche documentaire."
          },
          "denied_reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Denied Reason",
            "description": "Motif du refus d'accès aux résultats documentaires."
          },
          "blocked_reason_codes": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Blocked Reason Codes",
            "description": "Codes des motifs qui limitent ou bloquent l'accès aux résultats documentaires."
          },
          "authority_mode": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Authority Mode",
            "description": "Mode d'autorité appliqué à la recherche documentaire."
          },
          "memory_policy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Memory Policy",
            "description": "Politique appliquée aux données de mémoire dans cette recherche."
          },
          "policy_decision": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object",
                "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
              },
              {
                "type": "null"
              }
            ],
            "title": "Policy Decision",
            "description": "Détails de la décision de politique appliquée à la recherche documentaire."
          },
          "notes": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Notes",
            "description": "Notes historiques de l'opération. Le lot complet accepte au maximum 10 000 notes."
          }
        },
        "type": "object",
        "required": [
          "query",
          "results",
          "total"
        ],
        "title": "ContentSearchResponse",
        "description": "Response for document content search."
      },
      "ContentSearchResult": {
        "properties": {
          "document_id": {
            "type": "string",
            "format": "uuid",
            "title": "Document Id",
            "description": "UUID MARKO du document."
          },
          "filename": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Filename",
            "description": "Nom du fichier."
          },
          "document_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Document Type",
            "description": "Type métier du document; distinct de son type MIME."
          },
          "snippet": {
            "type": "string",
            "title": "Snippet",
            "description": "Highlighted snippet from ts_headline"
          },
          "rank": {
            "type": "number",
            "title": "Rank",
            "description": "ts_rank relevance score"
          },
          "page_count": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Page Count",
            "description": "Nombre de pages connu pour le document trouvé."
          }
        },
        "type": "object",
        "required": [
          "document_id",
          "snippet",
          "rank"
        ],
        "title": "ContentSearchResult",
        "description": "A single document content search hit."
      },
      "CustomDashboardCreate": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 200,
            "minLength": 1,
            "title": "Name",
            "description": "Nom de la ressource. Les recherches exactes et partielles sont décrites au niveau de la route."
          },
          "description": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Description libre de la ressource."
          },
          "layout": {
            "items": {
              "additionalProperties": true,
              "type": "object",
              "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
            },
            "type": "array",
            "maxItems": 50,
            "title": "Layout",
            "description": "Disposition des widgets du dashboard."
          },
          "filters": {
            "additionalProperties": true,
            "type": "object",
            "title": "Filters",
            "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
          },
          "default_scope": {
            "$ref": "#/components/schemas/DashboardScope",
            "description": "Périmètre métier initial du dashboard."
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "name"
        ],
        "title": "CustomDashboardCreate"
      },
      "CustomDashboardListResponse": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "Identifiant MARKO de la ressource."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Nom de la ressource. Les recherches exactes et partielles sont décrites au niveau de la route."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Description libre de la ressource."
          },
          "user_id": {
            "type": "string",
            "title": "User Id",
            "default": "",
            "description": "Identifiant utilisateur MARKO; il n'est pas nécessairement un UUID."
          },
          "is_shared": {
            "type": "boolean",
            "title": "Is Shared",
            "description": "Indique si le dashboard est partagé."
          },
          "default_scope": {
            "$ref": "#/components/schemas/DashboardScope",
            "description": "Périmètre métier initial du dashboard."
          },
          "sharing": {
            "$ref": "#/components/schemas/DashboardSharing",
            "description": "Visibilité, permissions et membres du partage du dashboard."
          },
          "can_edit": {
            "type": "boolean",
            "title": "Can Edit",
            "default": false,
            "description": "Indique si l'utilisateur délégué peut modifier ce dashboard."
          },
          "can_manage": {
            "type": "boolean",
            "title": "Can Manage",
            "default": false,
            "description": "Indique si l'utilisateur délégué peut gérer le partage de ce dashboard."
          },
          "widget_count": {
            "type": "integer",
            "title": "Widget Count",
            "default": 0,
            "description": "Nombre de widgets configurés dans le dashboard."
          },
          "scope_unavailable": {
            "type": "boolean",
            "title": "Scope Unavailable",
            "default": false,
            "description": "Indique que le périmètre enregistré du dashboard n'est pas disponible pour cet utilisateur."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Date de création au format ISO 8601."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At",
            "description": "Date de dernière modification au format ISO 8601."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "is_shared",
          "created_at",
          "updated_at"
        ],
        "title": "CustomDashboardListResponse"
      },
      "CustomDashboardResponse": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "Identifiant MARKO de la ressource."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Nom de la ressource. Les recherches exactes et partielles sont décrites au niveau de la route."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Description libre de la ressource."
          },
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "Identifiant utilisateur MARKO; il n'est pas nécessairement un UUID."
          },
          "layout": {
            "items": {
              "additionalProperties": true,
              "type": "object",
              "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
            },
            "type": "array",
            "title": "Layout",
            "description": "Disposition des widgets du dashboard."
          },
          "filters": {
            "additionalProperties": true,
            "type": "object",
            "title": "Filters",
            "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
          },
          "default_scope": {
            "$ref": "#/components/schemas/DashboardScope",
            "description": "Périmètre métier initial du dashboard."
          },
          "sharing": {
            "$ref": "#/components/schemas/DashboardSharing",
            "description": "Visibilité, permissions et membres du partage du dashboard."
          },
          "can_edit": {
            "type": "boolean",
            "title": "Can Edit",
            "default": false,
            "description": "Indique si l'utilisateur délégué peut modifier ce dashboard."
          },
          "can_manage": {
            "type": "boolean",
            "title": "Can Manage",
            "default": false,
            "description": "Indique si l'utilisateur délégué peut gérer le partage de ce dashboard."
          },
          "is_shared": {
            "type": "boolean",
            "title": "Is Shared",
            "description": "Indique si le dashboard est partagé."
          },
          "share_token": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Share Token",
            "description": "Jeton associé au partage du dashboard, lorsqu'il existe; ne pas le publier."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Date de création au format ISO 8601."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At",
            "description": "Date de dernière modification au format ISO 8601."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "user_id",
          "layout",
          "filters",
          "is_shared",
          "share_token",
          "created_at",
          "updated_at"
        ],
        "title": "CustomDashboardResponse"
      },
      "CustomDashboardUpdate": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 200,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Nom de la ressource. Les recherches exactes et partielles sont décrites au niveau de la route."
          },
          "description": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Description libre de la ressource."
          },
          "layout": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object",
                  "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
                },
                "type": "array",
                "maxItems": 50
              },
              {
                "type": "null"
              }
            ],
            "title": "Layout",
            "description": "Disposition des widgets du dashboard."
          },
          "filters": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object",
                "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
              },
              {
                "type": "null"
              }
            ],
            "title": "Filters",
            "description": "Filtres enregistrés pour la vue, le dashboard ou le template."
          },
          "default_scope": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DashboardScope"
              },
              {
                "type": "null"
              }
            ],
            "description": "Périmètre métier initial du dashboard."
          },
          "is_shared": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Shared",
            "description": "Indique si le dashboard est partagé."
          },
          "expected_updated_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expected Updated At",
            "description": "Valeur updated_at lue avant la modification. Une version concurrente exige une nouvelle lecture et une réévaluation."
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "CustomDashboardUpdate"
      },
      "DashboardScope": {
        "properties": {
          "level": {
            "type": "string",
            "enum": [
              "entity",
              "fund",
              "operation"
            ],
            "title": "Level",
            "default": "entity",
            "description": "Niveau du périmètre métier du dashboard."
          },
          "ids": {
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "type": "array",
            "maxItems": 500,
            "title": "Ids",
            "description": "Identifiants des ressources incluses dans le périmètre sélectionné."
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "DashboardScope"
      },
      "DashboardSharing": {
        "properties": {
          "visibility": {
            "type": "string",
            "enum": [
              "private",
              "team",
              "entity"
            ],
            "title": "Visibility",
            "default": "private",
            "description": "Périmètre de visibilité du partage du dashboard."
          },
          "permission": {
            "type": "string",
            "enum": [
              "read",
              "edit"
            ],
            "title": "Permission",
            "default": "read",
            "description": "Niveau de permission accordé par le partage du dashboard."
          },
          "member_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "maxItems": 64,
            "title": "Member Ids",
            "description": "Identifiants des membres concernés par le partage du dashboard."
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "DashboardSharing"
      },
      "DealCreate": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 300,
            "minLength": 1,
            "title": "Name",
            "description": "Nom de la ressource. Les recherches exactes et partielles sont décrites au niveau de la route."
          },
          "status": {
            "$ref": "#/components/schemas/DealStatus",
            "default": "sourcing",
            "description": "Statut du deal dans le pipeline avant closing; distinct du statut d'une opération."
          },
          "description": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 5000
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Description libre de la ressource."
          },
          "montant_estime": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0.0
              },
              {
                "type": "string",
                "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d{0,2}0*$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Montant Estime",
            "description": "Montant prévisionnel du deal."
          },
          "classe_actif": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 100
              },
              {
                "type": "null"
              }
            ],
            "title": "Classe Actif",
            "description": "Classe d'actif de l'opération. Pour une écriture externe, consulter la dimension asset_class de GET /taxonomies."
          },
          "operateur_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operateur Id",
            "description": "UUID MARKO de l'opérateur."
          },
          "operation_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Id",
            "description": "UUID MARKO de l'opération."
          },
          "responsable": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 200
              },
              {
                "type": "null"
              }
            ],
            "title": "Responsable",
            "description": "Responsable déclaré du deal."
          },
          "date_sourcing": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date Sourcing",
            "description": "Date d'entrée du deal dans le pipeline."
          },
          "date_closing_prevue": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date Closing Prevue",
            "description": "Date prévisionnelle du closing du deal."
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "DealCreate",
        "description": "Payload pour creer un deal."
      },
      "DealNoteCreate": {
        "properties": {
          "content": {
            "type": "string",
            "maxLength": 10000,
            "minLength": 1,
            "title": "Content",
            "description": "Contenu du commentaire ou de la note."
          }
        },
        "type": "object",
        "required": [
          "content"
        ],
        "title": "DealNoteCreate",
        "description": "Payload pour creer une note de deal."
      },
      "DealNoteResponse": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "Identifiant MARKO de la ressource."
          },
          "deal_id": {
            "type": "string",
            "format": "uuid",
            "title": "Deal Id",
            "description": "UUID du deal auquel la note est rattachée."
          },
          "author_name": {
            "type": "string",
            "title": "Author Name",
            "description": "Nom de l'auteur de la note ou du commentaire."
          },
          "content": {
            "type": "string",
            "title": "Content",
            "description": "Contenu du commentaire ou de la note."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Date de création au format ISO 8601."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At",
            "description": "Date de dernière modification au format ISO 8601."
          }
        },
        "type": "object",
        "required": [
          "id",
          "deal_id",
          "author_name",
          "content",
          "created_at",
          "updated_at"
        ],
        "title": "DealNoteResponse",
        "description": "Reponse API pour une note de deal."
      },
      "DealResponse": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "Identifiant MARKO de la ressource."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Nom de la ressource. Les recherches exactes et partielles sont décrites au niveau de la route."
          },
          "status": {
            "$ref": "#/components/schemas/DealStatus",
            "description": "Statut du deal dans le pipeline avant closing; distinct du statut d'une opération."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Description libre de la ressource."
          },
          "montant_estime": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Montant Estime",
            "description": "Montant prévisionnel du deal."
          },
          "classe_actif": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Classe Actif",
            "description": "Classe d'actif de l'opération. Pour une écriture externe, consulter la dimension asset_class de GET /taxonomies."
          },
          "operateur_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operateur Id",
            "description": "UUID MARKO de l'opérateur."
          },
          "operation_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Id",
            "description": "UUID MARKO de l'opération."
          },
          "responsable": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Responsable",
            "description": "Responsable déclaré du deal."
          },
          "date_sourcing": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date Sourcing",
            "description": "Date d'entrée du deal dans le pipeline."
          },
          "date_closing_prevue": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date Closing Prevue",
            "description": "Date prévisionnelle du closing du deal."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Date de création au format ISO 8601."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At",
            "description": "Date de dernière modification au format ISO 8601."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "status",
          "created_at",
          "updated_at"
        ],
        "title": "DealResponse",
        "description": "Reponse API pour un deal."
      },
      "DealStatus": {
        "type": "string",
        "enum": [
          "sourcing",
          "analyse",
          "due_diligence",
          "comite",
          "closing",
          "abandonne"
        ],
        "title": "DealStatus",
        "description": "Statut du deal dans le pipeline CRM."
      },
      "DealUpdate": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 300,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Nom de la ressource. Les recherches exactes et partielles sont décrites au niveau de la route."
          },
          "status": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DealStatus"
              },
              {
                "type": "null"
              }
            ],
            "description": "Statut du deal dans le pipeline avant closing; distinct du statut d'une opération."
          },
          "description": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 5000
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Description libre de la ressource."
          },
          "montant_estime": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0.0
              },
              {
                "type": "string",
                "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d{0,2}0*$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Montant Estime",
            "description": "Montant prévisionnel du deal."
          },
          "classe_actif": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 100
              },
              {
                "type": "null"
              }
            ],
            "title": "Classe Actif",
            "description": "Classe d'actif de l'opération. Pour une écriture externe, consulter la dimension asset_class de GET /taxonomies."
          },
          "operateur_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operateur Id",
            "description": "UUID MARKO de l'opérateur."
          },
          "operation_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Id",
            "description": "UUID MARKO de l'opération."
          },
          "responsable": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 200
              },
              {
                "type": "null"
              }
            ],
            "title": "Responsable",
            "description": "Responsable déclaré du deal."
          },
          "date_sourcing": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date Sourcing",
            "description": "Date d'entrée du deal dans le pipeline."
          },
          "date_closing_prevue": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date Closing Prevue",
            "description": "Date prévisionnelle du closing du deal."
          }
        },
        "type": "object",
        "title": "DealUpdate",
        "description": "Payload pour mettre a jour un deal."
      },
      "DelegatedDataInventory": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "description": "Identifiant utilisateur MARKO; il n'est pas nécessairement un UUID."
          },
          "auth_database": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "table": {
                  "type": "string",
                  "description": "Nom de la source de données personnelles inventoriée."
                },
                "fields": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Champs configurables proposés par le preset."
                },
                "pii_fields": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Champs de la source qui peuvent contenir des données personnelles."
                },
                "has_data": {
                  "type": "boolean",
                  "description": "Indique si la source contient des données pour le sujet concerné."
                },
                "pseudonymous_fields": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Champs de la source qui contiennent des références pseudonymes au sujet."
                },
                "excluded_from_export": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Champs ou données exclus de l'export pour cette source."
                },
                "retention": {
                  "type": "string",
                  "description": "Informations sur la conservation des données de cette source."
                }
              },
              "required": [
                "table",
                "fields",
                "pii_fields",
                "has_data"
              ]
            },
            "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
          },
          "entity_databases": {
            "type": "object",
            "properties": {
              "scope": {
                "type": "string",
                "description": "Périmètre métier ou droit concerné; le modèle de cette réponse précise son type."
              },
              "entity_slugs": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Entités incluses dans la collecte des données personnelles du sujet."
              },
              "warnings": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Avertissements relevés pendant la collecte des données du sujet."
              },
              "tables_with_user_references": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Sources de l'entité contenant des références à l'utilisateur concerné."
              },
              "note": {
                "type": "string",
                "description": "Commentaire associé à la décision sur la recommandation."
              },
              "entities": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "entity_slug": {
                      "type": "string",
                      "description": "Entité à laquelle l'intégration est rattachée."
                    },
                    "data_environment": {
                      "type": "string",
                      "description": "Environnement de données auquel ces informations se rapportent."
                    },
                    "status": {
                      "type": "string",
                      "description": "État de collecte ou de traitement de cette source de données personnelles."
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Avertissements relevés pendant la collecte des données du sujet."
                    },
                    "tables": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "has_data": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Indique si la source contient des données pour le sujet concerné."
                          },
                          "count": {
                            "anyOf": [
                              {
                                "type": "integer"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Nombre de notifications non lues."
                          },
                          "warning": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Limitation ou avertissement de collecte pour cette source."
                          }
                        },
                        "required": [
                          "has_data",
                          "count",
                          "warning"
                        ]
                      },
                      "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
                    }
                  },
                  "required": [
                    "entity_slug",
                    "data_environment",
                    "status",
                    "warnings",
                    "tables"
                  ]
                },
                "description": "Résultats de la collecte par entité et environnement."
              }
            },
            "required": [
              "scope",
              "entity_slugs",
              "warnings",
              "tables_with_user_references",
              "note",
              "entities"
            ],
            "description": "Résultats des sources de données de l'entité incluses dans l'inventaire ou l'export RGPD."
          }
        },
        "required": [
          "user_id",
          "auth_database",
          "entity_databases"
        ]
      },
      "DelegatedErasureResult": {
        "type": "object",
        "properties": {
          "privacy_case_id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID du dossier durable de traitement RGPD."
          },
          "status": {
            "type": "string",
            "enum": [
              "intake",
              "verifying",
              "in_progress",
              "waiting_customer",
              "completed",
              "blocked",
              "cancelled"
            ],
            "description": "État du dossier d'effacement; une réponse accepted n'est pas une confirmation d'effacement terminé."
          },
          "result_mode": {
            "type": "string",
            "const": "metadata_only",
            "description": "Mode de restitution du résultat d'effacement; la réponse expose les métadonnées du dossier."
          },
          "reconciliation_required": {
            "type": "boolean",
            "description": "Indique que le résultat doit encore être rapproché de l'état réel du dossier."
          },
          "manual_review_required": {
            "type": "boolean",
            "description": "Indique qu'une revue humaine reste nécessaire pour ce dossier ou cette action."
          },
          "certificate_reference": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Référence du certificat d'effacement, si elle existe; null ne constitue pas une preuve d'effacement."
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "description": "Date de fin, lorsqu'une exécution ou un traitement est terminé."
          },
          "actions": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "delegated_erasure_completed",
                "delegated_erasure_blocked",
                "delegated_erasure_reconciliation_pending"
              ]
            },
            "description": "Actions d'effacement enregistrées dans le dossier; leur présence ne signifie pas que toutes sont terminées."
          },
          "replayed": {
            "type": "boolean",
            "description": "Indique qu'une réponse liée à la même intention a été retrouvée et rejouée."
          }
        },
        "required": [
          "privacy_case_id",
          "status",
          "result_mode",
          "reconciliation_required",
          "manual_review_required",
          "certificate_reference",
          "completed_at",
          "actions",
          "replayed"
        ]
      },
      "DelegatedPrivacyExport": {
        "type": "object",
        "properties": {
          "schema_version": {
            "type": "string",
            "const": "marko_privacy_export/v2",
            "description": "Version du format de l'export RGPD."
          },
          "scope_version": {
            "type": "string",
            "description": "Version du périmètre d'export RGPD."
          },
          "personal_source_registry_version": {
            "type": "string",
            "description": "Version du registre des sources de données personnelles."
          },
          "export_id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant de l'export RGPD."
          },
          "export_date": {
            "type": "string",
            "format": "date-time",
            "description": "Date de génération de l'export RGPD."
          },
          "user_id": {
            "type": "string",
            "description": "Identifiant utilisateur MARKO; il n'est pas nécessairement un UUID."
          },
          "data_environment": {
            "type": "string",
            "description": "Environnement de données auquel ces informations se rapportent."
          },
          "profile": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Identifiant MARKO de la ressource."
                  },
                  "email": {
                    "type": "string",
                    "description": "Adresse e-mail du compte utilisateur."
                  },
                  "name": {
                    "type": "string",
                    "description": "Nom de la ressource. Les recherches exactes et partielles sont décrites au niveau de la route."
                  },
                  "first_name": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Prénom de l'utilisateur."
                  },
                  "last_name": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Nom de famille de l'utilisateur."
                  },
                  "role": {
                    "type": "string",
                    "description": "Rôle du compte utilisateur dans l'entité."
                  },
                  "status": {
                    "type": "string"
                  },
                  "entity_slug": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Entité à laquelle l'intégration est rattachée."
                  },
                  "created_at": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Date de création au format ISO 8601."
                  },
                  "updated_at": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Date de dernière modification au format ISO 8601."
                  }
                },
                "required": [
                  "id",
                  "email",
                  "name",
                  "first_name",
                  "last_name",
                  "role",
                  "status",
                  "entity_slug",
                  "created_at",
                  "updated_at"
                ]
              },
              {
                "type": "object",
                "maxProperties": 0
              }
            ],
            "description": "Profil du sujet concerné par l'export RGPD."
          },
          "preferences": {
            "type": "object",
            "additionalProperties": true,
            "description": "Objet JSON métier; les clés dépendent de la source ou du preset."
          },
          "notifications": {
            "type": "array",
            "maxItems": 0,
            "items": {
              "description": "Valeur JSON variable selon la source ou le preset; aucun schéma fixe n'est imposé par cette route."
            },
            "description": "Notifications exportables de cet utilisateur."
          },
          "audit_entries": {
            "type": "array",
            "maxItems": 0,
            "items": {
              "description": "Valeur JSON variable selon la source ou le preset; aucun schéma fixe n'est imposé par cette route."
            },
            "description": "Événements d'audit exportables pour cet utilisateur; consulter le manifeste pour les sources non exportées."
          },
          "demo_state": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "namespace": {
                  "type": "string"
                },
                "state": {
                  "description": "Valeur JSON métier dont la structure dépend de la source."
                },
                "updated_at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "Date de dernière modification au format ISO 8601."
                }
              },
              "required": [
                "namespace",
                "state",
                "updated_at"
              ]
            },
            "description": "État de démonstration associé au profil dans l'export RGPD."
          },
          "privacy_cases": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Identifiant MARKO de la ressource."
                },
                "case_type": {
                  "type": "string",
                  "enum": [
                    "dsar_export",
                    "erasure",
                    "offboarding",
                    "incident_assistance"
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "intake",
                    "verifying",
                    "in_progress",
                    "waiting_customer",
                    "completed",
                    "blocked",
                    "cancelled"
                  ]
                },
                "source": {
                  "type": "string",
                  "enum": [
                    "self_service",
                    "admin",
                    "support",
                    "incident"
                  ],
                  "description": "Origine déclarée de l'événement ou du remboursement."
                },
                "requester_user_id": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "requester_email": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "entity_slug": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "Entité à laquelle l'intégration est rattachée."
                },
                "data_environment": {
                  "type": "string",
                  "description": "Environnement de données auquel ces informations se rapportent."
                },
                "subject": {
                  "type": "string"
                },
                "due_at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "acknowledged_at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "completed_at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "Date de fin, lorsqu'une exécution ou un traitement est terminé."
                },
                "certificate_reference": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "Référence du certificat d'effacement, si elle existe; null ne constitue pas une preuve d'effacement."
                },
                "created_at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "Date de création au format ISO 8601."
                },
                "updated_at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "Date de dernière modification au format ISO 8601."
                }
              },
              "required": [
                "id",
                "case_type",
                "status",
                "source",
                "requester_user_id",
                "requester_email",
                "entity_slug",
                "data_environment",
                "subject",
                "due_at",
                "acknowledged_at",
                "completed_at",
                "certificate_reference",
                "created_at",
                "updated_at"
              ]
            },
            "description": "Dossiers RGPD exportables associés au sujet."
          },
          "pappers_request_metadata": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Identifiant MARKO de la ressource."
                },
                "entity_slug": {
                  "type": "string",
                  "description": "Entité à laquelle l'intégration est rattachée."
                },
                "data_environment": {
                  "type": "string",
                  "description": "Environnement de données auquel ces informations se rapportent."
                },
                "request_kind": {
                  "type": "string"
                },
                "source": {
                  "type": "string",
                  "description": "Origine déclarée de l'événement ou du remboursement."
                },
                "state": {
                  "type": "string",
                  "description": "État de traitement ou de validation du document."
                },
                "relationship_roles": {
                  "type": "array",
[...]
