{
  "openapi": "3.1.0",
  "info": {
    "title": "MARKO External Partner API",
    "version": "v1",
    "description": "Stable external API contract for the live environment.\n\nAuthentication flow for partner integrations:\n1. Generate an API key from the MARKO entity admin API section.\n2. Keep the raw API secret server-side and use it only to sign `POST /v1/auth/token`.\n3. Build the canonical message `MARKO-EXTERNAL-API-TOKEN-V1\\n{key_id}\\n{timestamp}\\n{nonce}`.\n4. Sign that message with HMAC-SHA256 and send the hex signature with `key_id`, `timestamp` and `nonce`.\n5. Use the returned short-lived bearer on business endpoints as `Authorization: Bearer <access_token>`.\nThe raw API secret must never be sent on business endpoints.\n\nThis public contract intentionally excludes beta endpoints.\n\nRéférence enrichie pour les développeurs et les assistants IA. Exemples synthétiques; les champs sont extraits des modèles et sérialiseurs de la version indiquée dans x-documentation-provenance."
  },
  "servers": [
    {
      "url": "https://partner-api.marko.fr/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "externalDocs": {
    "description": "Download the matching Postman collection.",
    "url": "/v1/postman.json"
  },
  "x-marko-authentication": {
    "token_endpoint": "/v1/auth/token",
    "signature_algorithm": "HMAC-SHA256",
    "canonical_message": "MARKO-EXTERNAL-API-TOKEN-V1\\n{key_id}\\n{timestamp}\\n{nonce}",
    "business_authorization_header": "Authorization: Bearer <access_token>",
    "raw_secret_usage": "server-side-token-exchange-only"
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "MARKO short-lived bearer",
        "description": "Use the `access_token` returned by `POST /v1/auth/token`. Do not send the raw API secret on business endpoints."
      }
    },
    "schemas": {
      "AIExtractionJobResponse": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "Identifiant MARKO de la ressource."
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus"
          },
          "document_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Document Id",
            "description": "UUID MARKO du document."
          },
          "operation_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Id",
            "description": "UUID MARKO de l'opération."
          },
          "provider": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Provider"
          },
          "narrative": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Narrative"
          },
          "suggestions_created": {
            "type": "integer",
            "title": "Suggestions Created",
            "default": 0
          },
          "auto_applied": {
            "type": "integer",
            "title": "Auto Applied",
            "default": 0
          },
          "operation_resolution": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object",
                "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Resolution"
          },
          "error_message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error Message",
            "description": "Détail de l'échec, lorsqu'il est disponible."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Date de création au format ISO 8601."
          },
          "started_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Started At"
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completed At",
            "description": "Date de fin, lorsqu'une exécution ou un traitement est terminé."
          },
          "raw_result": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object",
                "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
              },
              {
                "type": "null"
              }
            ],
            "title": "Raw Result"
          }
        },
        "type": "object",
        "required": [
          "id",
          "status",
          "created_at"
        ],
        "title": "AIExtractionJobResponse",
        "description": "ProcessingJob payload tailored for the AI Wizard UI."
      },
      "AiExtractionJobCreateRequest": {
        "properties": {
          "document_id": {
            "type": "string",
            "format": "uuid",
            "title": "Document Id",
            "description": "UUID MARKO du document."
          },
          "operation_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Id",
            "description": "UUID MARKO de l'opération."
          }
        },
        "type": "object",
        "required": [
          "document_id"
        ],
        "title": "AiExtractionJobCreateRequest"
      },
      "AlertResponse": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "Identifiant MARKO de la ressource."
          },
          "user_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "User Id",
            "description": "Identifiant utilisateur MARKO; il n'est pas nécessairement un UUID."
          },
          "type": {
            "type": "string",
            "title": "Type"
          },
          "severity": {
            "type": "string",
            "title": "Severity"
          },
          "title": {
            "type": "string",
            "title": "Title"
          },
          "message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Message"
          },
          "target_url": {
            "type": "string",
            "title": "Target Url"
          },
          "target_tab": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Target Tab"
          },
          "target_filter": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Target Filter"
          },
          "highlight_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Highlight Id"
          },
          "read": {
            "type": "boolean",
            "title": "Read"
          },
          "alert_status": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Alert Status"
          },
          "snoozed_until": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Snoozed Until"
          },
          "escalation_level": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Escalation Level"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Date de création au format ISO 8601."
          },
          "operation_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Id",
            "description": "UUID MARKO de l'opération."
          },
          "operateur_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operateur Id",
            "description": "UUID MARKO de l'opérateur."
          },
          "is_active": {
            "type": "boolean",
            "title": "Is Active",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "id",
          "type",
          "severity",
          "title",
          "target_url",
          "read",
          "created_at"
        ],
        "title": "AlertResponse"
      },
      "AlertSnoozeRequest": {
        "properties": {
          "days": {
            "type": "integer",
            "maximum": 30.0,
            "minimum": 1.0,
            "title": "Days",
            "description": "Nombre de jours de snooze (1-30)",
            "default": 7
          }
        },
        "type": "object",
        "title": "AlertSnoozeRequest"
      },
      "AlertSourceType": {
        "type": "string",
        "enum": [
          "interne",
          "externe"
        ],
        "title": "AlertSourceType",
        "description": "Type de source d'alerte."
      },
      "Body_upload_document_public_documents_external__external_id__upload_put": {
        "properties": {
          "file": {
            "type": "string",
            "contentMediaType": "application/octet-stream",
            "title": "File",
            "format": "binary",
            "description": "Fichier binaire envoyé dans multipart/form-data; ne pas encoder en Base64."
          },
          "type": {
            "type": "string",
            "title": "Type"
          },
          "operation_external_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation External Id",
            "description": "Identifiant externe de l'opération, appartenant à la même intégration."
          },
          "operation_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Id",
            "description": "UUID MARKO de l'opération."
          },
          "partner_metadata": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Partner Metadata",
            "description": "Chaîne contenant un objet JSON valide. Au niveau multipart, ce champ est du texte; il est ensuite décodé en objet."
          }
        },
        "type": "object",
        "required": [
          "file",
          "type"
        ],
        "title": "Body_upload_document_public_documents_external__external_id__upload_put",
        "anyOf": [
          {
            "required": [
              "operation_id"
            ],
            "properties": {
              "operation_id": {
                "type": "string",
                "format": "uuid",
                "description": "UUID MARKO de l'opération."
              }
            }
          },
          {
            "required": [
              "operation_external_id"
            ],
            "properties": {
              "operation_external_id": {
                "type": "string",
                "minLength": 1,
                "description": "Identifiant externe de l'opération, appartenant à la même intégration."
              }
            }
          }
        ],
        "description": "Une opération est requise: fournir operation_id ou operation_external_id. Lorsque les deux sont fournis, operation_id est utilisé. Pour un upload de fichier, appeler directement /upload avec un nouvel external_id; une déclaration metadata préalable peut être renvoyée sans ajout de fichier."
      },
      "CalendarEventCreate": {
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 300,
            "title": "Title",
            "description": "Titre de l'evenement"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Description detaillee"
          },
          "event_date": {
            "type": "string",
            "format": "date",
            "title": "Event Date",
            "description": "Date de l'evenement"
          },
          "event_type": {
            "type": "string",
            "maxLength": 50,
            "title": "Event Type",
            "description": "Type: covenant_deadline, reporting_due, ag_date, echeance, custom, etc."
          },
          "operation_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Id",
            "description": "Lie a une operation (optionnel)"
          },
          "operateur_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operateur Id",
            "description": "Lie a un operateur (optionnel)"
          },
          "fond_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fond Id",
            "description": "Lie a un fonds (optionnel)"
          },
          "spv_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Spv Id",
            "description": "Lie a un SPV (optionnel)"
          },
          "client_request_id": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^[A-Za-z0-9._-]{1,80}$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Client Request Id",
            "description": "Optional durable request id scoped to (entity, author): retrying the same create replays the already-created event instead of duplicating it."
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "title",
          "event_date",
          "event_type"
        ],
        "title": "CalendarEventCreate",
        "description": "Schema for a human-created event; AI provenance is server-owned."
      },
      "CalendarEventListResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/CalendarEventResponse"
            },
            "type": "array",
            "title": "Items",
            "description": "Résultats de la page courante."
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Nombre total de résultats correspondant aux filtres."
          }
        },
        "type": "object",
        "required": [
          "items",
          "total"
        ],
        "title": "CalendarEventListResponse",
        "description": "Paginated list of calendar events."
      },
      "CalendarEventResponse": {
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 300,
            "title": "Title",
            "description": "Titre de l'evenement"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Description detaillee"
          },
          "event_date": {
            "type": "string",
            "format": "date",
            "title": "Event Date",
            "description": "Date de l'evenement"
          },
          "event_type": {
            "type": "string",
            "maxLength": 50,
            "title": "Event Type",
            "description": "Type: covenant_deadline, reporting_due, ag_date, echeance, custom, etc."
          },
          "operation_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Id",
            "description": "Lie a une operation (optionnel)"
          },
          "operateur_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operateur Id",
            "description": "Lie a un operateur (optionnel)"
          },
          "fond_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fond Id",
            "description": "Lie a un fonds (optionnel)"
          },
          "spv_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Spv Id",
            "description": "Lie a un SPV (optionnel)"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "Identifiant MARKO de la ressource."
          },
          "entity_id": {
            "type": "string",
            "format": "uuid",
            "title": "Entity Id"
          },
          "source": {
            "type": "string",
            "title": "Source"
          },
          "source_alert_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source Alert Id"
          },
          "confidence": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Confidence"
          },
          "accepted": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Accepted"
          },
          "idempotency_receipt": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ManualCreationIdempotencyReceipt"
              },
              {
                "type": "null"
              }
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Date de création au format ISO 8601."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At",
            "description": "Date de dernière modification au format ISO 8601."
          }
        },
        "type": "object",
        "required": [
          "title",
          "event_date",
          "event_type",
          "id",
          "entity_id",
          "source",
          "created_at",
          "updated_at"
        ],
        "title": "CalendarEventResponse",
        "description": "Schema for calendar event API response."
      },
      "CalendarEventUpdate": {
        "properties": {
          "title": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 300
              },
              {
                "type": "null"
              }
            ],
            "title": "Title"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "event_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Event Date"
          },
          "event_type": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 50
              },
              {
                "type": "null"
              }
            ],
            "title": "Event Type"
          },
          "operation_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Id",
            "description": "UUID MARKO de l'opération."
          },
          "operateur_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operateur Id",
            "description": "UUID MARKO de l'opérateur."
          },
          "fond_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fond Id",
            "description": "UUID MARKO du fonds."
          },
          "spv_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Spv Id",
            "description": "UUID MARKO de la SPV."
          },
          "accepted": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Accepted"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "CalendarEventUpdate",
        "description": "Schema for updating a calendar event (all fields optional)."
      },
      "ChronicleEntry": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Prefixed ID: 'st-{uuid}', 'el-{uuid}', 'al-{id}'"
          },
          "entry_type": {
            "$ref": "#/components/schemas/ChronicleEntryType"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "title": "Timestamp",
            "description": "Heure Unix en secondes de l'échange signé."
          },
          "title": {
            "type": "string",
            "title": "Title",
            "description": "Human-readable summary"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "field_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Field Name"
          },
          "old_value": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Old Value"
          },
          "new_value": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "New Value"
          },
          "actor_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Actor Id"
          },
          "actor_email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Actor Email"
          },
          "actor_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Actor Type"
          },
          "source_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source Type"
          },
          "confidence": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Confidence"
          },
          "metadata": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object",
                "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
              },
              {
                "type": "null"
              }
            ],
            "title": "Metadata"
          }
        },
        "type": "object",
        "required": [
          "id",
          "entry_type",
          "timestamp",
          "title"
        ],
        "title": "ChronicleEntry",
        "description": "Single entry in the operation chronicle timeline."
      },
      "ChronicleEntryType": {
        "type": "string",
        "enum": [
          "state_transition",
          "field_change",
          "audit_change"
        ],
        "title": "ChronicleEntryType",
        "description": "Type of chronicle entry."
      },
      "ChronicleResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/ChronicleEntry"
            },
            "type": "array",
            "title": "Items",
            "description": "Résultats de la page courante."
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Nombre total de résultats correspondant aux filtres."
          },
          "page": {
            "type": "integer",
            "title": "Page",
            "description": "Current page number (1-indexed)",
            "default": 1
          },
          "pages": {
            "type": "integer",
            "title": "Pages",
            "description": "Total number of pages",
            "default": 0
          },
          "limit": {
            "type": "integer",
            "title": "Limit",
            "description": "Items per page",
            "default": 50
          }
        },
        "type": "object",
        "required": [
          "items",
          "total"
        ],
        "title": "ChronicleResponse",
        "description": "Paginated chronicle response."
      },
      "CommentCreate": {
        "properties": {
          "content": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 10000,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Content"
          },
          "note_type": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^(reporting|call|comite|risque|libre)$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Note Type"
          },
          "date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date",
            "description": "Date métier; le type et le format ci-dessous font autorité pour cette route."
          },
          "text": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 10000,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Text"
          },
          "category": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 80,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Category",
            "description": "Catégorie de la note; les règles exactes dépendent de la route. Pour l'import externe: chaîne de 1 à 80 caractères, libre par défaut."
          }
        },
        "type": "object",
        "title": "CommentCreate",
        "description": "Payload pour créer une note de suivi."
      },
      "CommentResponse": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "Identifiant MARKO de la ressource."
          },
          "operation_id": {
            "type": "string",
            "format": "uuid",
            "title": "Operation Id",
            "description": "UUID MARKO de l'opération."
          },
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "Identifiant utilisateur MARKO; il n'est pas nécessairement un UUID."
          },
          "author_name": {
            "type": "string",
            "title": "Author Name"
          },
          "content": {
            "type": "string",
            "title": "Content"
          },
          "note_type": {
            "type": "string",
            "title": "Note Type"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "title": "Date",
            "description": "Date métier; le type et le format ci-dessous font autorité pour cette route."
          },
          "text": {
            "type": "string",
            "title": "Text"
          },
          "category": {
            "type": "string",
            "title": "Category",
            "description": "Catégorie de la note; les règles exactes dépendent de la route. Pour l'import externe: chaîne de 1 à 80 caractères, libre par défaut."
          },
          "description_i18n": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "title": "Description I18N",
            "description": "Textes par locale normalisée (fr, en, fr-fr…); contraintes complémentaires dans le guide Imports et notes."
          },
          "source_created_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source Created At",
            "description": "Date de création dans le système source, avec fuseau horaire."
          },
          "source_updated_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source Updated At",
            "description": "Date de dernière mise à jour dans le système source, avec fuseau horaire. Pour une note déjà versionnée, un changement exige une date strictement plus récente."
          },
          "is_resolved": {
            "type": "boolean",
            "title": "Is Resolved",
            "default": false
          },
          "resolved_by": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Resolved By"
          },
          "resolved_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Resolved At"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Date de création au format ISO 8601."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At",
            "description": "Date de dernière modification au format ISO 8601."
          }
        },
        "type": "object",
        "required": [
          "id",
          "operation_id",
          "user_id",
          "author_name",
          "content",
          "note_type",
          "date",
          "text",
          "category",
          "created_at",
          "updated_at"
        ],
        "title": "CommentResponse",
        "description": "Réponse API pour une note de suivi."
      },
      "CommentUpdate": {
        "properties": {
          "content": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 10000,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Content"
          },
          "date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date",
            "description": "Date métier; le type et le format ci-dessous font autorité pour cette route."
          },
          "text": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 10000,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Text"
          },
          "category": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 80,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Category",
            "description": "Catégorie de la note; les règles exactes dépendent de la route. Pour l'import externe: chaîne de 1 à 80 caractères, libre par défaut."
          }
        },
        "type": "object",
        "title": "CommentUpdate",
        "description": "Payload pour mettre à jour une note de suivi."
      },
      "ContentSearchResponse": {
        "properties": {
          "request_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Request Id",
            "description": "Identifiant de corrélation pour le diagnostic de la requête."
          },
          "query": {
            "type": "string",
            "title": "Query"
          },
          "results": {
            "items": {
              "$ref": "#/components/schemas/ContentSearchResult"
            },
            "type": "array",
            "title": "Results"
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Nombre total de résultats correspondant aux filtres."
          },
          "mode": {
            "type": "string",
            "title": "Mode",
            "default": "search",
            "description": "Mode de traitement accepté par cette route."
          },
          "decision": {
            "type": "string",
            "title": "Decision",
            "default": "allow"
          },
          "role_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Role Id"
          },
          "denied_reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Denied Reason"
          },
          "blocked_reason_codes": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Blocked Reason Codes"
          },
          "authority_mode": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Authority Mode"
          },
          "memory_policy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Memory Policy"
          },
          "policy_decision": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object",
                "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
              },
              {
                "type": "null"
              }
            ],
            "title": "Policy Decision"
          },
          "notes": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Notes",
            "description": "Notes historiques de l'opération. Le lot complet accepte au maximum 10 000 notes."
          }
        },
        "type": "object",
        "required": [
          "query",
          "results",
          "total"
        ],
        "title": "ContentSearchResponse",
        "description": "Response for document content search."
      },
      "ContentSearchResult": {
        "properties": {
          "document_id": {
            "type": "string",
            "format": "uuid",
            "title": "Document Id",
            "description": "UUID MARKO du document."
          },
          "filename": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Filename",
            "description": "Nom du fichier."
          },
          "document_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Document Type"
          },
          "snippet": {
            "type": "string",
            "title": "Snippet",
            "description": "Highlighted snippet from ts_headline"
          },
          "rank": {
            "type": "number",
            "title": "Rank",
            "description": "ts_rank relevance score"
          },
          "page_count": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Page Count"
          }
        },
        "type": "object",
        "required": [
          "document_id",
          "snippet",
          "rank"
        ],
        "title": "ContentSearchResult",
        "description": "A single document content search hit."
      },
      "CustomDashboardCreate": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 200,
            "minLength": 1,
            "title": "Name",
            "description": "Nom de la ressource. Les recherches exactes et partielles sont décrites au niveau de la route."
          },
          "description": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "layout": {
            "items": {
              "additionalProperties": true,
              "type": "object",
              "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
            },
            "type": "array",
            "maxItems": 50,
            "title": "Layout"
          },
          "filters": {
            "additionalProperties": true,
            "type": "object",
            "title": "Filters",
            "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
          },
          "default_scope": {
            "$ref": "#/components/schemas/DashboardScope"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "name"
        ],
        "title": "CustomDashboardCreate"
      },
      "CustomDashboardListResponse": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "Identifiant MARKO de la ressource."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Nom de la ressource. Les recherches exactes et partielles sont décrites au niveau de la route."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "user_id": {
            "type": "string",
            "title": "User Id",
            "default": "",
            "description": "Identifiant utilisateur MARKO; il n'est pas nécessairement un UUID."
          },
          "is_shared": {
            "type": "boolean",
            "title": "Is Shared"
          },
          "default_scope": {
            "$ref": "#/components/schemas/DashboardScope"
          },
          "sharing": {
            "$ref": "#/components/schemas/DashboardSharing"
          },
          "can_edit": {
            "type": "boolean",
            "title": "Can Edit",
            "default": false
          },
          "can_manage": {
            "type": "boolean",
            "title": "Can Manage",
            "default": false
          },
          "widget_count": {
            "type": "integer",
            "title": "Widget Count",
            "default": 0
          },
          "scope_unavailable": {
            "type": "boolean",
            "title": "Scope Unavailable",
            "default": false
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Date de création au format ISO 8601."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At",
            "description": "Date de dernière modification au format ISO 8601."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "is_shared",
          "created_at",
          "updated_at"
        ],
        "title": "CustomDashboardListResponse"
      },
      "CustomDashboardResponse": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "Identifiant MARKO de la ressource."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Nom de la ressource. Les recherches exactes et partielles sont décrites au niveau de la route."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "Identifiant utilisateur MARKO; il n'est pas nécessairement un UUID."
          },
          "layout": {
            "items": {
              "additionalProperties": true,
              "type": "object",
              "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
            },
            "type": "array",
            "title": "Layout"
          },
          "filters": {
            "additionalProperties": true,
            "type": "object",
            "title": "Filters",
            "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
          },
          "default_scope": {
            "$ref": "#/components/schemas/DashboardScope"
          },
          "sharing": {
            "$ref": "#/components/schemas/DashboardSharing"
          },
          "can_edit": {
            "type": "boolean",
            "title": "Can Edit",
            "default": false
          },
          "can_manage": {
            "type": "boolean",
            "title": "Can Manage",
            "default": false
          },
          "is_shared": {
            "type": "boolean",
            "title": "Is Shared"
          },
          "share_token": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Share Token"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Date de création au format ISO 8601."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At",
            "description": "Date de dernière modification au format ISO 8601."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "user_id",
          "layout",
          "filters",
          "is_shared",
          "share_token",
          "created_at",
          "updated_at"
        ],
        "title": "CustomDashboardResponse"
      },
      "CustomDashboardUpdate": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 200,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Nom de la ressource. Les recherches exactes et partielles sont décrites au niveau de la route."
          },
          "description": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "layout": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object",
                  "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
                },
                "type": "array",
                "maxItems": 50
              },
              {
                "type": "null"
              }
            ],
            "title": "Layout"
          },
          "filters": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object",
                "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
              },
              {
                "type": "null"
              }
            ],
            "title": "Filters"
          },
          "default_scope": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DashboardScope"
              },
              {
                "type": "null"
              }
            ]
          },
          "is_shared": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Shared"
          },
          "expected_updated_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expected Updated At"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "CustomDashboardUpdate"
      },
      "DashboardScope": {
        "properties": {
          "level": {
            "type": "string",
            "enum": [
              "entity",
              "fund",
              "operation"
            ],
            "title": "Level",
            "default": "entity"
          },
          "ids": {
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "type": "array",
            "maxItems": 500,
            "title": "Ids"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "DashboardScope"
      },
      "DashboardSharing": {
        "properties": {
          "visibility": {
            "type": "string",
            "enum": [
              "private",
              "team",
              "entity"
            ],
            "title": "Visibility",
            "default": "private"
          },
          "permission": {
            "type": "string",
            "enum": [
              "read",
              "edit"
            ],
            "title": "Permission",
            "default": "read"
          },
          "member_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "maxItems": 64,
            "title": "Member Ids"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "DashboardSharing"
      },
      "DealCreate": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 300,
            "minLength": 1,
            "title": "Name",
            "description": "Nom de la ressource. Les recherches exactes et partielles sont décrites au niveau de la route."
          },
          "status": {
            "$ref": "#/components/schemas/DealStatus",
            "default": "sourcing"
          },
          "description": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 5000
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "montant_estime": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0.0
              },
              {
                "type": "string",
                "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d{0,2}0*$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Montant Estime"
          },
          "classe_actif": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 100
              },
              {
                "type": "null"
              }
            ],
            "title": "Classe Actif"
          },
          "operateur_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operateur Id",
            "description": "UUID MARKO de l'opérateur."
          },
          "operation_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Id",
            "description": "UUID MARKO de l'opération."
          },
          "responsable": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 200
              },
              {
                "type": "null"
              }
            ],
            "title": "Responsable"
          },
          "date_sourcing": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date Sourcing"
          },
          "date_closing_prevue": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date Closing Prevue"
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "DealCreate",
        "description": "Payload pour creer un deal."
      },
      "DealNoteCreate": {
        "properties": {
          "content": {
            "type": "string",
            "maxLength": 10000,
            "minLength": 1,
            "title": "Content"
          }
        },
        "type": "object",
        "required": [
          "content"
        ],
        "title": "DealNoteCreate",
        "description": "Payload pour creer une note de deal."
      },
      "DealNoteResponse": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "Identifiant MARKO de la ressource."
          },
          "deal_id": {
            "type": "string",
            "format": "uuid",
            "title": "Deal Id"
          },
          "author_name": {
            "type": "string",
            "title": "Author Name"
          },
          "content": {
            "type": "string",
            "title": "Content"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Date de création au format ISO 8601."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At",
            "description": "Date de dernière modification au format ISO 8601."
          }
        },
        "type": "object",
        "required": [
          "id",
          "deal_id",
          "author_name",
          "content",
          "created_at",
          "updated_at"
        ],
        "title": "DealNoteResponse",
        "description": "Reponse API pour une note de deal."
      },
      "DealResponse": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id",
            "description": "Identifiant MARKO de la ressource."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Nom de la ressource. Les recherches exactes et partielles sont décrites au niveau de la route."
          },
          "status": {
            "$ref": "#/components/schemas/DealStatus"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "montant_estime": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Montant Estime"
          },
          "classe_actif": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Classe Actif"
          },
          "operateur_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operateur Id",
            "description": "UUID MARKO de l'opérateur."
          },
          "operation_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Id",
            "description": "UUID MARKO de l'opération."
          },
          "responsable": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Responsable"
          },
          "date_sourcing": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date Sourcing"
          },
          "date_closing_prevue": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date Closing Prevue"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Date de création au format ISO 8601."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At",
            "description": "Date de dernière modification au format ISO 8601."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "status",
          "created_at",
          "updated_at"
        ],
        "title": "DealResponse",
        "description": "Reponse API pour un deal."
      },
      "DealStatus": {
        "type": "string",
        "enum": [
          "sourcing",
          "analyse",
          "due_diligence",
          "comite",
          "closing",
          "abandonne"
        ],
        "title": "DealStatus",
        "description": "Statut du deal dans le pipeline CRM."
      },
      "DealUpdate": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 300,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Nom de la ressource. Les recherches exactes et partielles sont décrites au niveau de la route."
          },
          "status": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DealStatus"
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 5000
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "montant_estime": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0.0
              },
              {
                "type": "string",
                "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d{0,2}0*$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Montant Estime"
          },
          "classe_actif": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 100
              },
              {
                "type": "null"
              }
            ],
            "title": "Classe Actif"
          },
          "operateur_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operateur Id",
            "description": "UUID MARKO de l'opérateur."
          },
          "operation_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Operation Id",
            "description": "UUID MARKO de l'opération."
          },
          "responsable": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 200
              },
              {
                "type": "null"
              }
            ],
            "title": "Responsable"
          },
          "date_sourcing": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date Sourcing"
          },
          "date_closing_prevue": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date Closing Prevue"
          }
        },
        "type": "object",
        "title": "DealUpdate",
        "description": "Payload pour mettre a jour un deal."
      },
      "DelegatedDataInventory": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "description": "Identifiant utilisateur MARKO; il n'est pas nécessairement un UUID."
          },
          "auth_database": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "table": {
                  "type": "string"
                },
                "fields": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "pii_fields": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "has_data": {
                  "type": "boolean"
                },
                "pseudonymous_fields": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "excluded_from_export": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "retention": {
                  "type": "string"
                }
              },
              "required": [
                "table",
                "fields",
                "pii_fields",
                "has_data"
              ]
            },
            "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
          },
          "entity_databases": {
            "type": "object",
            "properties": {
              "scope": {
                "type": "string"
              },
              "entity_slugs": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "warnings": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "tables_with_user_references": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "note": {
                "type": "string"
              },
              "entities": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "entity_slug": {
                      "type": "string",
                      "description": "Entité à laquelle l'intégration est rattachée."
                    },
                    "data_environment": {
                      "type": "string",
                      "description": "Entité à laquelle l'intégration est rattachée."
                    },
                    "status": {
                      "type": "string",
                      "description": "Entité à laquelle l'intégration est rattachée."
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "tables": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "has_data": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "count": {
                            "anyOf": [
                              {
                                "type": "integer"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "warning": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "has_data",
                          "count",
                          "warning"
                        ]
                      },
                      "description": "Objet JSON extensible. Les types des valeurs sont indiqués par additionalProperties lorsque la route les contraint."
                    }
                  },
                  "required": [
                    "entity_slug",
                    "data_environment",
                    "status",
                    "warnings",
                    "tables"
                  ]
                }
              }
            },
            "required": [
              "scope",
              "entity_slugs",
              "warnings",
              "tables_with_user_references",
              "note",
              "entities"
            ]
          }
        },
        "required": [
          "user_id",
          "auth_database",
          "entity_databases"
        ]
      },
      "DelegatedErasureResult": {
        "type": "object",
        "properties": {
          "privacy_case_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "intake",
              "verifying",
              "in_progress",
              "waiting_customer",
              "completed",
              "blocked",
              "cancelled"
            ]
          },
          "result_mode": {
            "type": "string",
            "const": "metadata_only"
          },
          "reconciliation_required": {
            "type": "boolean"
          },
          "manual_review_required": {
            "type": "boolean"
          },
          "certificate_reference": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "description": "Date de fin, lorsqu'une exécution ou un traitement est terminé."
          },
          "actions": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "delegated_erasure_completed",
                "delegated_erasure_blocked",
                "delegated_erasure_reconciliation_pending"
              ]
            }
          },
          "replayed": {
            "type": "boolean"
          }
        },
        "required": [
          "privacy_case_id",
          "status",
          "result_mode",
          "reconciliation_required",
          "manual_review_required",
          "certificate_reference",
          "completed_at",
          "actions",
          "replayed"
        ]
      },
      "DelegatedPrivacyExport": {
        "type": "object",
        "properties": {
          "schema_version": {
            "type": "string",
            "const": "marko_privacy_export/v2"
          },
          "scope_version": {
            "type": "string",
            "description": "Identifiant utilisateur MARKO; il n'est pas nécessairement un UUID."
          },
          "personal_source_registry_version": {
            "type": "string",
            "description": "Identifiant utilisateur MARKO; il n'est pas nécessairement un UUID."
          },
          "export_id": {
            "type": "string",
            "format": "uuid"
          },
          "export_date": {
            "type": "string",
            "format": "date-time"
          },
          "user_id": {
            "type": "string",
            "description": "Identifiant utilisateur MARKO; il n'est pas nécessairement un UUID."
          },
          "data_environment": {
            "type": "string",
            "description": "Identifiant utilisateur MARKO; il n'est pas nécessairement un UUID."
          },
          "profile": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Identifiant MARKO de la ressource."
                  },
                  "email": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nom de la ressource. Les recherches exactes et partielles sont décrites au niveau de la route."
                  },
                  "first_name": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "last_name": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "role": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "entity_slug": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Entité à laquelle l'intégration est rattachée."
                  },
                  "created_at": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Date de création au format ISO 8601."
                  },
                  "updated_at": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "Date de dernière modification au format ISO 8601."
                  }
                },
                "required": [
                  "id",
                  "email",
                  "name",
                  "first_name",
                  "last_name",
                  "role",
                  "status",
                  "entity_slug",
                  "created_at",
                  "updated_at"
                ]
              },
              {
                "type": "object",
                "maxProperties": 0
              }
            ]
          },
          "preferences": {
            "type": "object",
            "additionalProperties": true,
            "description": "Objet JSON métier; les clés dépendent de la source ou du preset."
          },
          "notifications": {
            "type": "array",
            "maxItems": 0,
            "items": {
              "description": "Valeur JSON variable selon la source ou le preset; aucun schéma fixe n'est imposé par cette route."
            }
          },
          "audit_entries": {
            "type": "array",
            "maxItems": 0,
            "items": {
              "description": "Valeur JSON variable selon la source ou le preset; aucun schéma fixe n'est imposé par cette route."
            }
          },
          "demo_state": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "namespace": {
                  "type": "string"
                },
                "state": {
                  "description": "Valeur JSON métier dont la structure dépend de la source."
                },
                "updated_at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "Date de dernière modification au format ISO 8601."
                }
              },
              "required": [
                "namespace",
                "state",
                "updated_at"
              ]
            }
          },
          "privacy_cases": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Identifiant MARKO de la ressource."
                },
                "case_type": {
                  "type": "string",
                  "enum": [
                    "dsar_export",
                    "erasure",
                    "offboarding",
                    "incident_assistance"
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "intake",
                    "verifying",
                    "in_progress",
                    "waiting_customer",
                    "completed",
                    "blocked",
                    "cancelled"
                  ]
                },
                "source": {
                  "type": "string",
                  "enum": [
                    "self_service",
                    "admin",
                    "support",
                    "incident"
                  ]
                },
                "requester_user_id": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "requester_email": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "entity_slug": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "Entité à laquelle l'intégration est rattachée."
                },
                "data_environment": {
                  "type": "string"
                },
                "subject": {
                  "type": "string"
                },
                "due_at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "acknowledged_at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "completed_at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "Date de fin, lorsqu'une exécution ou un traitement est terminé."
                },
                "certificate_reference": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "created_at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "Date de création au format ISO 8601."
                },
                "updated_at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "Date de dernière modification au format ISO 8601."
                }
              },
              "required": [
                "id",
                "case_type",
                "status",
                "source",
                "requester_user_id",
                "requester_email",
                "entity_slug",
                "data_environment",
                "subject",
                "due_at",
                "acknowledged_at",
                "completed_at",
                "certificate_reference",
                "created_at",
                "updated_at"
              ]
            }
          },
          "pappers_request_metadata": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Identifiant MARKO de la ressource."
                },
                "entity_slug": {
                  "type": "string",
                  "description": "Entité à laquelle l'intégration est rattachée."
                },
                "data_environment": {
                  "type": "string"
                },
                "request_kind": {
                  "type": "string"
                },
                "source": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "relationship_roles": {
                  "type": "array",
                  "items": {
                    "description": "Valeur JSON métier dont la structure dépend de la source."
                  }
                },
                "created_at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "Date de création au format ISO 8601."
                },
                "completed_at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "Date de fin, lorsqu'une exécution ou un traitement est terminé."
                },
                "reconciled_at": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "reconciliation_action": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "id",
                "entity_slug",
                "data_environment",
                "request_kind",
                "source",
                "state",
                "relationship_roles",
                "created_at",
                "completed_at",
                "reconciled_at",
                "reconciliation_action"
              ]
            }
          },
          "entity_databases": {
            "type": "object",
            "properties": {
              "scope": {
                "type": "string"
              },
              "entity_slugs": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "data_environment": {
                "type": "string"
              },
              "entities": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "entity_slug": {
                      "type": "string",
                      "description": "Entité à laquelle l'intégration est rattachée."
                    },
                    "tables": {
                      "type": "object",
                      "properties": {
                        "notification": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Identifiant MARKO de la ressource."
                              },
                              "scope": {
                                "description": "Valeur JSON métier dont la structure dépend de la source."
                              },
                              "type": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "message": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "severity": {
                                "type": "string",
                                "enum": [
                                  "critical",
                                  "warning",
                                  "info"
                                ]
                              },
                              "read": {
                                "type": "boolean"
                              },
                              "created_at": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Date de création au format ISO 8601."
                              }
                            },
                            "required": [
                              "id",
                              "scope",
                              "type",
                              "title",
                              "message",
                              "severity",
                              "read",
                              "created_at"
                            ],
                            "description": "Projection exportée pour notification; couverture: records. Champs exclus: aucun champ supplémentaire déclaré."
                          }
                        },
                        "comment": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Identifiant MARKO de la ressource."
                              },
                              "operation_id": {
                                "type": "string",
                                "description": "UUID MARKO de l'opération."
                              },
                              "user_id": {
                                "type": "string",
                                "description": "Identifiant utilisateur MARKO; il n'est pas nécessairement un UUID."
                              },
                              "author_name": {
                                "type": "string"
                              },
                              "content": {
                                "type": "string"
                              },
                              "note_type": {
                                "type": "string",
                                "enum": [
                                  "reporting",
                                  "call",
                                  "comite",
                                  "risque",
                                  "libre"
                                ]
                              },
                              "is_resolved": {
                                "type": "boolean"
                              },
                              "resolved_by": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "resolved_at": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "created_at": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Date de création au format ISO 8601."
                              },
                              "updated_at": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Date de dernière modification au format ISO 8601."
                              }
                            },
                            "required": [
                              "id",
                              "operation_id",
                              "user_id",
                              "author_name",
                              "content",
                              "note_type",
                              "is_resolved",
                              "resolved_by",
                              "resolved_at",
                              "created_at",
                              "updated_at"
                            ],
                            "description": "Projection exportée pour comment; couverture: records. Champs exclus: aucun champ supplémentaire déclaré."
                          }
                        },
                        "saved_view": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Identifiant MARKO de la ressource."
                              },
                              "entity_type": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string",
                                "description": "Nom de la ressource. Les recherches exactes et partielles sont décrites au niveau de la route."
                              },
                              "filters": {
                                "description": "Valeur JSON métier dont la structure dépend de la source."
                              },
                              "columns": {
                                "description": "Valeur JSON métier dont la structure dépend de la source."
                              },
                              "sort": {
                                "description": "Valeur JSON métier dont la structure dépend de la source."
                              },
                              "is_default": {
                                "type": "boolean"
                              },
                              "created_at": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Date de création au format ISO 8601."
                              },
                              "updated_at": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Date de dernière modification au format ISO 8601."
                              }
                            },
                            "required": [
                              "id",
                              "entity_type",
                              "name",
                              "filters",
                              "columns",
                              "sort",
                              "is_default",
                              "created_at",
                              "updated_at"
                            ],
                            "description": "Projection exportée pour saved_view; couverture: records. Champs exclus: aucun champ supplémentaire déclaré."
                          }
                        },
                        "report_document_saved_scope": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Identifiant MARKO de la ressource."
                              },
                              "name": {
                                "type": "string",
                                "description": "Nom de la ressource. Les recherches exactes et partielles sont décrites au niveau de la route."
                              },
                              "selection": {
                                "description": "Valeur JSON métier dont la structure dépend de la source."
                              },
                              "resolved_scope": {
                                "description": "Valeur JSON métier dont la structure dépend de la source."
                              },
                              "created_at": {
                                "anyOf": [
                                  {
[...]
